@page
@model PrivacyModel
@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1>

<p>Arcus Ingenium d.o.o. je tvrtka koja se bavi održavanjem računalnih sustava i popravcima kompletne informatičke opreme. Pored toga  bavi se i obnovom odnosno punjenjem printerskih cartridge-a. Svojim vlastitim idejama, radom i sredstvima dajemo doprinos razvitku gospodarstva na području ove županije. I tvrtkama i pojedincima na ovom području tako se pruža mogućnost obnove istrošenih cartridge-a za printere po cijeni koja je cca dvostruko niža od kupovine novog cartridge-a, što dakako smanjuje troškove života i poslovanja.  Tvrtka Arcus Ingenium d.o.o. osnovana je 2003.g. Osnovali su je mladi ljudi koji na taj način, u ovom vremenu velike nezaposlenosti i nestajanja proizvodnje, svojim vlastitim idejama, radom i sredstvima daju doprinos razvitku gospodarstva na području ove županije. Za vrijeme djelovanja na području Dubrovačko Neretvanske županije Arcus Ingenium d.o.o.  stekao je izvrsnu reputaciju kvalitetom svoje usluge i proizvoda. Stvoren je dugačak popis stalnih korisnika, na kojemu se nalazi niz velikih tvrtki i ustanova s ovog područja.  Arcus Ingenium d.o.o. ima 5 stalno zaposlenih djelatnika te mnogobrojne stalne suradnike iz raznovrsnih tvrtki s kojima izvrsno surađuje u cilju što zadovoljnjijih dosadašnjih i budućih korisnika.</p>
